

<div class="wrapper fadeInDown">
    <div id="formContent">
    
      <br>
      <br>
    
    <h1 class="text-primary"> Recuperar Contreseña</h1>
  <label for=""> Puede recuperar Contreseña tanto por correo o usuario</label>
    <br>

  
      <form>
        <input type="text"
         id="username" 
        class="fadeIn second"
         name="username"
          [(ngModel)]="usuario.usernameOrEmail" 
          placeholder="conrreo o username"  >


          
          
          <input type="button"  (click)="recuperar()" value="Recuperar">

    
       
      </form>

      <div id="formFooter">
        <input type="button"  (click)="Longi()" value="Log In">
      </div>
  
 


  
      
  
    </div>
  </div>


